body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
}

.rating {
  display: flex;
  gap: 10px;
}

.star {
  font-size: 80px;
  line-height: 1;
  color: #fff;
  -webkit-text-stroke: 4px #000;
  /* Убираем лишние отступы у символа */
  display: inline-block;
}
